In [20]:
import pandas as pd
from fastai.text.all import *

In [21]:
import os
for dirname, _, filenames in os.walk('../input/sentiment-analysis-dataset'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../input/sentiment-analysis-dataset/training.1600000.processed.noemoticon.csv
../input/sentiment-analysis-dataset/train.csv
../input/sentiment-analysis-dataset/testdata.manual.2009.06.14.csv
../input/sentiment-analysis-dataset/test.csv

In [22]:
df = pd.read_csv('../input/sentiment-analysis-dataset/train.csv')

df.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km�),Density (P/Km�)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on the releases we already bought","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [23]:
test = pd.read_csv('../input/sentiment-analysis-dataset/test.csv')
test.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km�),Density (P/Km�)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -- skyscrapers galore). Good tweeps in China: (SH) (BJ).,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to quit her company, such a shame!",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

In [24]:
len(df), len(test)

(27481, 4815)

In [25]:
dls = TextDataLoaders.from_df(df, 
                              text_col="selected_text", 
                              label_col="sentiment", valid = test)

/opt/conda/lib/python3.7/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [26]:
dls.show_batch()

In [27]:
learn = text_classifier_learner(dls, AWD_LSTM, drop_mult=0.3, metrics=accuracy)

In [28]:
learn.fine_tune(4, 1e-2)

In [29]:
learn.show_results()